version: "3.3"
services:
  nginx:
    volumes:
      - './nginx/production.conf:/etc/nginx/conf.d/default.conf'
      - './nginx/front/dist:/home/front'
      - './nginx/front-admin/dist:/home/front/admin'
    deploy:
      resources:
        limits:
          memory: 300M
          cpus: '0.5'

  api:
    image: registry.beta.pole-emploi.fr/mobiville/mobiville:api
    environment: 
      - NODE_ENV=production
    deploy:
      resources:
        limits:
          memory: 4G
          cpus: '2.5'

  db:
    deploy:
      resources:
        limits:
          memory: 8G
          cpus: '4.0'
