version: '3.3'
services:
  nginx:
    image: nginx:1.17.10
    restart: unless-stopped
    ports:
      - '80:80'
    volumes:
      - './logs/nginx:/var/log/nginx'
    environment:
      - TZ=Europe/Paris
    networks:
      mobiville_network:
        ipv4_address: 173.0.0.10

  api:
    restart: unless-stopped
    expose:
      - '8080'
    networks:
      mobiville_network:
        ipv4_address: 173.0.0.20
    depends_on:
      - 'db'
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - EMPLOI_STORE_URL=${EMPLOI_STORE_URL}
      - ENTERPRISE_URL=${ENTERPRISE_URL}
      - EMPLOI_STORE_ID=${EMPLOI_STORE_ID}
      - EMPLOI_STORE_SECRET=${EMPLOI_STORE_SECRET}
    stdin_open: true

  db:
    image: mariadb:10
    restart: always
    ports:
      - "3306:3306"
    networks:
      mobiville_network:
        ipv4_address: 173.0.0.50
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - TZ=Europe/Paris
    volumes:
      - './db/var/lib/mysql:/var/lib/mysql'     

  # front-admin:
  #   restart: unless-stopped
  #   expose:
  #     - '3000'
  #   environment:
  #     - TZ=Europe/Paris
  #   networks:
  #     mobiville_network:
  #       ipv4_address: 173.0.0.40
  #   stdin_open: true
  
networks:
  mobiville_network:
    driver: bridge
    ipam:
      config:
        - subnet: 173.0.0.0/16
