button.btn {
	white-space: nowrap;
	display: flex;
	outline: inherit;
	border: none;
	align-items: center;
	font-size: 14px;
	padding: 0 12px;
	margin: 0;

	&.primary {
		border-radius: 32px;
		height: 32px;
		background-color: #002e80;
		color: white;

		i {
			color: white;
			margin-right: 4px;
			margin-bottom: 0;
			position: relative;
			left: -4px;
			font-size: 21px;
			width: 20px;
			height: 20px;
		}
	}
}
