@import '../fonts/Roboto/roboto.scss';
@import './form.scss';

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f6f7fb !important;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #23333e;
  font-size: 14px;
}

body.white {
  background-color: #FFF !important;
}

button {
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.MuiGrid-container,
.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.flex-1 {
  flex: 1;
}

a {
  text-decoration: none;
  color: #191970;
}

@media (hover) {
  a:hover {
    text-decoration: none;
    color: #191970;
  }
}

select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
input[type='tel'],
input[type='color'] {
  /* avoids safari mobile zooming in on input, which because of autocompletes is not necessarily zoomed out */
  font-size: 16px;
}


#menu->div:nth-child(3){
  background: #FFFFFF;
  border: 1px solid #F6F7FB;
  border-radius: 8px;
  margin-top: 15px;

  ul {
    padding: 0px;

    li:first-child {
      margin-top: 10px !important;
    }
    li:last-child {
      margin-bottom: 10px !important;
    }
    li.desktop:hover {
      background-color: #C3E9E9 !important;
      cursor: pointer;
    }
  }
}

#project-multiple-checkbox>em, #situation-simple-checkbox>em, #age-simple-checkbox>em {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color:#657078;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

#project-multiple-checkbox, #situation-simple-checkbox, #age-simple-checkbox {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color:#191970;
  margin-top: 3px;
  margin-left: 1px;
}

.stickyHeader {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.stickyFilterMobile {
  position: sticky;
  top: calc(100vh - 100px);
}

// input select menu dropdown
div.MuiPaper-root {
  margin-top: 5px !important;
}
