@import '../fonts/Roboto/roboto.scss';
@import './button.scss';
@import './form.scss';

html,
body {
	padding: 0;
	margin: 0;
	background-color: #f2f2f7;
	height: 100vh;
	font-family: 'Roboto';
	color: #23333e;
	font-size: 14px;
}

button {
	font-family: 'Roboto';
}

#root {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.MuiGrid-container,
.wrapper {
	max-width: 1100px;
	width: 95%;
	margin: auto;
}

.flex-1 {
	flex: 1;
}

a,
a:hover {
	text-decoration: none;
}
