@import '../fonts/Roboto/roboto.scss';

html,
body {
	padding: 0;
	margin: 0;
	background-color: #f2f2f7;
	height: 100vh;
	font-family: 'Roboto';
	color: #23333e;
	font-size: 14px;
}

#root {
	height: 100%;
}

* {
	box-sizing: border-box;
}
